body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}
/* .section-one--form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  justify-content: space-between;
} */

.select-country {
  height: 48px;
  width: 200px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23ffffff;"/></svg>');
  background-repeat: no-repeat;
  background-position: top 54% right 15px;
  background-size: 15px;
  border-radius: 3px;
  font-size: 16px;
  color: white;
  background-color: #1e776e;
  padding: 5px;
  padding-right: 30px;
  margin: 0;
  border: none;
}
